
<div class="container__content">
    <div class="content__cover">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" alt="">
    </div>
    <div class="content__title">
        <h1>Meu artigo</h1>
        <hr>
        <a [routerLink]="['']"> << Voltar ao Início</a>
        <hr>
    </div>
    <div class="content__description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos excepturi ab alias sed numquam. Aliquid quisquam mollitia, vero pariatur quod cupiditate asperiores veniam iusto quis dolorem sint facilis velit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos excepturi ab alias sed numquam. Aliquid quisquam mollitia, vero pariatur quod cupiditate asperiores veniam iusto quis dolorem sint facilis velit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos excepturi ab alias sed numquam. Aliquid quisquam mollitia, vero pariatur quod cupiditate asperiores veniam iusto quis dolorem sint facilis velit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos excepturi ab alias sed numquam. Aliquid quisquam mollitia, vero pariatur quod cupiditate asperiores veniam iusto quis dolorem sint facilis velit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos excepturi ab alias sed numquam. Aliquid quisquam mollitia, vero pariatur quod cupiditate asperiores veniam iusto quis dolorem sint facilis velit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos excepturi ab alias sed numquam. Aliquid quisquam mollitia, vero pariatur quod cupiditate asperiores veniam iusto quis dolorem sint facilis velit?</p>
    </div>
</div>
