

<app-menu-title></app-menu-title>

<div class="container__articles">

    <div class="articles__main">
        <app-big-card
            id="{{ bigCardData.id }}"
            photoCover="{{ bigCardData.photo }}"
            cardTitle="{{ bigCardData.title }}"
            cardDescription="{{ bigCardData.description }}"
        />
    </div>

    <div class="articles__others">
        <app-small-card *ngFor="let post of smallCardData"
            id="{{ post.id }}"
            photoCover="{{ post.photo }}"
            cardTitle="{{ post.title }}"
        />
    </div>

</div>