/* You can add global styles to this file, and also import other style files */

:root {
    --default-backgorund: #111111;
    --default-fontcolor: white;
    --default-font: 'segoe UI';
    --content-fontcolor: grey;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
    color: var(--default-fontcolor);
}

body {
    background-color: var(--default-backgorund);
}

a {
    text-decoration: none;
}